
@{
    ViewBag.Title = "Stock";
}

<style>
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 80%;
        pointer-events: auto;
        background-color: white;
        background-clip: padding-box;
        border: 1px solid white;
        border-radius: 0.3rem;
        outline: 0;
        left: 20%;
    }
</style>

<div id="AddStock" class="pt-5 px-4" style="display:none">
    <h4 class="form-header" id="hiddenform">
        Add Stock
    </h4>


    <form class="forms-sample">
        <div class="row">

            <input type="hidden" id="StockId" />

            <div class="col-md-6">
                <div class="form-group">
                    <label>Barcode <span style="color:red">*</span></label>
                    <input type="number" onblur="GetProductDetail()" class="form-control" placeholder="Barcode" required="required" id="Barcode" />
                    <span class="text-danger" id="Val_Barcode"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Product Name <span style="color:red">*</span></label>
                    <input type="text" class="form-control" placeholder="Product Name" required="required" id="ProductName" maxlength="30" disabled />
                    <span class="text-danger" id="Val_ProductName"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Location <span style="color:red">*</span></label>
                    <input type="text" class="form-control" placeholder="Location" required="required" id="Location" maxlength="30" />
                    <span class="text-danger" id="Val_Location"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Warehouse <span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="WarehouseId" placeholder="Warehouse" disabled />
                    <span class="text-danger" id="Val_Warehouse"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Quantity on Hand <span style="color:red">*</span></label>
                    <input type="number" class="form-control" placeholder="QuantityOnHand" required="required" id="QuantityOnHand" />
                    <span class="text-danger" id="Val_QuantityOnHand"></span>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label>Quantity on Receiving <span style="color:red">*</span></label>
                    <input type="number" class="form-control" placeholder="Quantity On Receiving" required="required" id="QuantityOnReceiving" />
                    <span class="text-danger" id="Val_QuantityOnReceiving"></span>
                </div>
            </div>

            <div class="col-md-12" style="text-align:center">

                <button type="button" class="btn btn-success" id="btnSubmit">
                    <span>Save</span>
                </button>
                <button type="button" class="btn btn-danger" id="closeButton"><i class="fa fa-close"></i>Close</button>

            </div>





        </div>
    </form>

</div>



<div class="py-7" id="StockLists">
    <h4 class="text-left" style="margin-left: 20px;">Stocks</h4>
    <div class="px-4 px-md-6">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 text-right">
                <button type="button" class="mb-3 mx-1 btn btn-md btn-theme" id="addStock"><i class="fa fa-plus"></i> Add New</button>
                <a href="@Url.Action("PrintStock","Export")" target="_blank" id="addWarehouse" class="mb-3 mx-1 btn btn-md btn-theme"><i class="fa fa-print"></i> Pdf</a>
                <a href="@Url.Action("ExportStockExcel","Export")" target="_blank" class="mb-3 mx-1 btn btn-md btn-theme"><i class="fa fa-print"></i> Excel</a>
            </div>
        </div>
    </div>

    <div class="px-4 px-md-6">
        <div class="table-responsive">
            <div id="StockList"></div>
        </div>
    </div>
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/scripts/app/Stock.js"></script>
