
@{
    ViewBag.Title = "Stock";
}

<style>
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 80%;
        pointer-events: auto;
        background-color: white;
        background-clip: padding-box;
        border: 1px solid white;
        border-radius: 0.3rem;
        outline: 0;
        left: 20%;
    }
</style>
<div class="py-7">
    <h4 class="text-left" style="margin-left: 20px;">Products</h4>
    <div class="px-4 px-md-6">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 text-right">
                <button type="button" class="mb-3 mx-1 btn btn-md btn-theme" data-toggle="modal" data-target="" onclick="OnAddNew();" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"></i> Add New</button>
            </div>
        </div>
    </div>

    <div class="px-4 px-md-6">
        <div class="table-responsive">
            <div id="StockList"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModelSubscription" tabindex="-1" role="dialog" aria-labelledby="labelSubscription" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1400px;top:4%;">
        <div class="modal-content">
            <div class="modal-body" id="SubscriptionModelBody">
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myLargeModalLabel" id="ModelTask1" class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" style="top:15%;max-width:1400px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
            </div>
            <div class="modal-body" id="pDetails">
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/app/Stock.js"></script>
