@model  LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/assets/auth/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/assets/auth/css/util.css" rel="stylesheet" />
    <link href="~/Content/assets/auth/css/main.css" rel="stylesheet" />
    <style>
        * {
            font-family: "Open Sans", sans-serif !important;
        }
    </style>
</head>
<body style="background-color: #666666;" class="">

    <div class="limiter heading">
        <div class="container-login100">
            <div class="wrap-login100">

                @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <span class="login100-form-title p-b-43">
                        Login to continue
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <input class="input100" type="text" name="UserName">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="Password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>


                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>


                }


                <div class="login100-more" style="background-image: url('@Url.Content("~/Content/assets/img/bg-01.jpg")');">
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/assets/auth/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/auth/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/assets/auth/js/main.js"></script>
</body>
</html>