
@{
    ViewBag.Title = "GetSalesOrderList";
    Layout = null;
}


<label>SO Number</label>
@Html.DropDownList("SONumber", (IEnumerable<SelectListItem>)ViewBag.SalesOrderList, new { @class = "form-control" })
<span class="text-danger" id="Val_SONumber"></span>